<!--
    Simple static Telegram WebApp. Does not verify the WebAppInitData, as a bot token would be needed for that.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>python-telegram-bot Example WebApp</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<script type="text/javascript">
    Telegram.WebApp.ready();
    Telegram.WebApp.MainButton.setText('Close webapp').show().onClick(function () {
        const data = JSON.stringify({ msg: 'We found the webapp page' });
        Telegram.WebApp.sendData(data);
        Telegram.WebApp.close();
    });
</script>

<body>
    <div
        style="display: flex; align-items: center; justify-content: center; height: 95vh; font-size: 45px; text-align: center; color: var(--tg-theme-accent-text-color);">
        Here will
        display user submitted images</div>
</body>
<script type="text/javascript">
    Telegram.WebApp.expand();
</script>

</html>